OsMA_Indi_OsMA_Applied_Price={{ applied_price | replace("(ENUM_APPLIED_PRICE)", "") | int | default(0) }}
OsMA_Indi_OsMA_MA_Method={{ ma_method | default(0) }}
OsMA_Indi_OsMA_Period,1=4
OsMA_Indi_OsMA_Period,2=4
OsMA_Indi_OsMA_Period,3=24
OsMA_Indi_OsMA_Period,F=1
OsMA_Indi_OsMA_Period={{ (period | default(0) | int) }}
OsMA_Indi_OsMA_Shift={{ shift | default(0) }}
OsMA_LotSize={{ lot_size | default(0) }}
OsMA_PriceStopMethod=0
OsMA_SignalOpenFilterMethod=1
OsMA_SignalOpenLevel={{ signal_open_level | replace("(float)", "") | float | default(0) }}
OsMA_TickFilterMethod=1
